* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: none;
    /*cursor: none;*/
}

h1 {
    font-family: 'Monoton', cursive;
    font-weight: lighter;
    font-size: 70pt;
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    /*font-family: 'Monoton', cursive;*/
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    font-size: 10pt;
    color: rgb(255, 255, 255);
    text-align: center;
}

#title {
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    top: 30px;
    left: 30px;
    font-size: 8pt;
    color: rgb(179, 179, 179);
    text-align: left;
    position: fixed;
}

a:link,
a:visited {
    color: rgb(0, 26, 255);
    text-decoration: none;
    cursor: pointer;
}

a:link:active,
a:visited:active {
    color: (internal value);
}

#info {
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    bottom: 30px;
    right: 30px;
    font-size: 8pt;
    color: rgb(146, 146, 146);
    text-align: right;
    position: fixed;
}

.container {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.e {
   /* background-image: url('https://instagram.fclo1-1.fna.fbcdn.net/vp/c993e515f43505b1b1a6e89cca383ed7/5BFE028E/t51.2885-15/e35/22352532_142189573062985_510759147222859776_n.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
 
    position: fixed;
    width: 50px;
    height: 50px;
   /* background: rgb(26, 77, 247);*/
    border-radius: 100px;
    transition: width 0.5s, height 0.5s ;
    -webkit-transition: width 0.5s, height 0.5s ; /* ease-in-out Safari 3.1 to 6.0 */
}
.e:hover{
    z-index: 1;
    width: 200px;
    height:200px;
}

.disable-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by any browser but < IE9 */
}